fastapi==0.129.0
uvicorn==0.24.0
SQLAlchemy==2.0.39
PyMySQL
alembic
pydantic==2.10.3
pydantic-settings
python-dotenv==1.1.0
redis
rq
APScheduler
openai
dashscope
pymilvus
langgraph
langchain-text-splitters
sentence-transformers
python-multipart==0.0.28
